<%@page contentType="text/html;charset=GBK" %>
<%@page import="com.sinosoft.utility.*"%>
<%@include file="../common/jsp/UsrCheck.jsp"%>
<%String asrc=request.getParameter("Interface");%>
<html>
<head>
<title>客户信息查询 </title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<script language="javascript">
	var intPageWidth=730;
	var intPageHeight=600;
	window.resizeTo(intPageWidth,intPageHeight);
	window.focus();
	window.onunload = resetOperation;
	var asd="<%=asrc%>";
	alert(asd);
  function resetOperation() {
    opener.mOperate = 0;
  }
</script>
</head>
<!--<frameset rows="0,0,0,65,*" frameborder="no" border="1" framespacing="0" cols="*"> -->
<frameset name="fraMain" rows="0,0,0,0,*" frameborder="no" border="1" framespacing="0" cols="*">
<!--标题与状态区域-->
	<!--保存客户端变量的区域，该区域必须有-->
	<frame name="VD" src="../common/cvar/CVarData.html">
	
	<!--保存客户端变量和WebServer实现交户的区域，该区域必须有-->
	<frame name="EX" src="../common/cvar/CExec.jsp">
	
	<frame name="fraSubmit"  scrolling="yes" noresize src="about:blank" >
	<frame name="fraTitle"  scrolling="no" noresize src="about:blank" >
	<frameset name="fraSet" cols="0%,*,0%" frameborder="no" border="1" framespacing="0" rows="*">
		<!--菜单区域-->
		<frame name="fraMenu" scrolling="yes" noresize src="about:blank">
		<!--交互区域-->
		<%
			String szSrc = request.getParameter("Interface");
			System.out.println("这里有错吗"+szSrc);
			szSrc += "?CustomerNo=" + request.getParameter("CustomerNo");
			String aCustomerName=new String(request.getParameter("CustomerName").getBytes("ISO8859_1"),"GBK");			
			szSrc += "&CustomerName=" + aCustomerName;
			szSrc += "&ContNo=" + request.getParameter("ContNo");
      		szSrc += "&IDType=" + request.getParameter("IDType");
      		szSrc += "&IDNo=" + request.getParameter("IDNo");
			System.out.println("aaaaaaaaaa"+szSrc); 
		%>
		<frame id="fraInterface" name="fraInterface" src= "<%= szSrc %>" scrolling="auto">
    	<!--下一步页面区域-->
    	<frame id="fraNext" name="fraNext" scrolling="auto" src="about:blank">
	</frameset>
</frameset>
<noframes>
	<body bgcolor="#ffffff">
	</body>
</noframes>
</html>
