<script language="javascript">
function hideMe()
{
  divSurveyDetail.style.display ='none';
}
</script>
    <Div  id= "divSurveyDetail" style="display: none; position:absolute; slategray">
      <table  class= common BORDER=1 CELLPADDING=2 CELLSPACING=0>
        <TR  class= common>
          <TD  class= title>
            序号/调查次数
          </TD>
          <TD  class= input>
            <Input class= common name=SerialNo >
          </TD>
          <TD  class= title>
            调查结论
          </TD>
          <TD  class= input>
            <Input class= common name=result >
          </TD>
        </TR>
        <TR  class= common>
          <TD  class= title>
            调查人
          </TD>
          <TD  class= input>
            <Input class= common name=Surveyor >
          </TD>
          <TD  class= title>
            调查人姓名
          </TD>
          <TD  class= input>
            <Input class= common name=SurveyorName >
          </TD>
        </TR>
        <TR  class= common>
          <TD  class= title>
            调查地点
          </TD>
          <TD  class= input>
            <Input class= common name=SurveySite >
          </TD>
          <TD  class= title>
            调查内容
          </TD>
          <TD  class= input>
            <Input class= common name=Content >
          </TD>
        </TR>
        <TR  class= common>
          <TD  class= title>
            调查开始日期
          </TD>
          <TD  class= input>
          <input class="coolDatePicker" dateFormat="short" name="SurveyStartDate" >
            <!--<Input class= common name=SurveyStartDate >-->
          </TD>
          <TD  class= title>
            调查结束日期
          </TD>
          <TD  class= input>
          <input class="coolDatePicker" dateFormat="short" name="SurveyEndDate" >
            <!--<Input class= common name=SurveyEndDate >-->
          </TD>
        </TR>
      <tr ><td align=right><input type="button" value="确认修改" onclick="hideMe();">
      </td></tr>
      </table>
      
    </Div>
