<script language="javascript">
function hideMe()
{
  divDetailInfo.style.display ='none';
}
</script>
<div id="divDetailInfo" name="divDetailInfo" style="display: none; position:absolute; slategray" onblur="hideMe();" onclick="hideMe();">
      <table  class= common BORDER=1 CELLPADDING=2 CELLSPACING=0 >
        <TR  class= common>
          <TD  class= title>
            报案号
          </TD>
          <TD  class= input>
            <Input class= common name=RptNo >
          </TD>
          <TD  class= title>
            保单号
          </TD>
          <TD  class= input>
            <Input class= common name=PolNo >
          </TD>
        </TR>
        <TR  class= common>
          <TD  class= title>
            报案人姓名
          </TD>
          <TD  class= input>
            <Input class= common name=RptorName >
          </TD>
          <TD  class= title>
            报案人通讯地址
          </TD>
          <TD  class= input>
            <Input class= common name=RptorAddress >
          </TD>
        </TR>
        <TR  class= common>
          <TD  class= title>
            报案人电话
          </TD>
          <TD  class= input>
            <Input class= common name=RptorPhone >
          </TD>
          <TD  class= title>
            报案人手机
          </TD>
          <TD  class= input>
            <Input class= common name=RptorMobile >
          </TD>
        </TR>
        <TR  class= common>
          <TD  class= title>
            报案人与被保人关系
          </TD>
          <TD  class= input>
            <Input class= code name=Relation ondblclick="return showCodeList('Relation',[this]);">
          </TD>
          <TD  class= title>
            报案日期
          </TD>
          <TD  class= input>
            <input class="coolDatePicker" dateFormat="short" name="RptDate" >
            <!--<Input class= common name=RptDate >-->
          </TD>
        </TR>
        <TR  class= common>
          <TD  class= title>
            报案方式
          </TD>
          <TD  class= input>
            <Input class= code name="RptMode" ondblclick="return showCodeList('RptMode',[this]);">
          </TD>
        </TR>
        <TR  class= common>
          <TD  class= title>
            出险地点
          </TD>
          <TD  class= input>
            <Input class= common name=AccidentSite >
          </TD>
          <TD  class= title>
            出险原因
          </TD>
          <TD  class= input>
            <Input class= common name=AccidentReason >
          </TD>
        </TR>
        <TR  class= common>
          <TD  class= title>
            出险过程和结果
          </TD>
          <TD  class= input>
            <Input class= common name=AccidentCourse >
          </TD>
          <TD  class= title>
            出险日期
          </TD>
          <TD  class= input>
            <input class="coolDatePicker" dateFormat="short" name="AccidentDate" >
            <!--<Input class= common name=AccidentDate >-->
          </TD>
        </TR>
        <TR  class= common>
          <TD  class= title>
            管理机构
          </TD>
          <TD  class= input>
            <Input class="code" name=MngCom verify="管理机构|code:comcode" ondblclick="return showCodeList('comcode',[this],null,null,null,null,1);" onkeyup="return showCodeListKey('comcode',[this],null,null,null,null,1);">
          </TD>
          <TD  class= title>
            不立案原因
          </TD>
          <TD  class= input>
            <Input class= common name=NoRgtReason >
          </TD>
        </TR>
        <TR  class= common>
          <TD  class= title>
            代理人代码
          </TD>
          <TD  class= input>
            <Input class="code" name=AgentCode verify="代理人编码|notnull&code:AgentCode" ondblclick="return showCodeList('AgentCode',[this, AgentGroup], [0, 2], null, MngCom, 'MngCom');" onkeyup="return showCodeListKey('AgentCode', [this, AgentGroup], [0, 2], null, MngCom, 'MngCom');">

          </TD>
          <TD  class= title>
            代理人组别
          </TD>
          <TD  class= input>
            <Input class="readonly" readonly name=AgentGroup verify="代理人组别|notnull&len<=12" >

          </TD>
        </TR>
        <TR  class= common>
          <TD  class= title>
            备注
          </TD>
          <TD  class= input>
            <Input class= common name=Remark >
          </TD>
        </TR>
      </table>
</div>