/*-------------------------------------------------------------------------*/
/*    文件名称: PiccShStandard.css                                         */
/*    文件功能: 定义PICC上海市财产业务处理系统浏览器版的标准页面样式       */
/*  最近更新人: 吴鹏                                                       */
/*最近更新日期: 2001-07-28                                                 */
/*-------------------------------------------------------------------------*/

/*--BODY的样式--*/
    body { font-size:9pt; }

    body.interface { font-size:9pt;
                     background-image:url(http://172.16.80.204:8000/Images/piccSh/bgCommon.gif) }

/*--TABLE的样式--*/
    table.common { width: 98%;
                   font-size: 9pt; }

    table.three { width: 70%;
                  font-size: 9pt }

    table.two { width: 60%;
                font-size: 9pt }

    table.menu { width: 100%;
                 font-size: 9pt}

    table.sub { width: 95%;
                font-size:9pt }

/*--TD的样式--*/

    td.common{ font-size: 9pt}
    
    td.common2{ font-size: 19pt}

    td.formtitle { font-size: 9pt;
                   font-weight: bold;
                   background-color: #4D457A;
                   text-align: center;
                   color: #ffffff;}

    td.titleImg { font-weight: bold;
               text-align: left;
               font-size: 9pt;
               color: #000000 }

    td.title { background-color: #CCC8E0;
               text-align: left;
               width: 10%;
               color: #000000 }
               
    td.title2 { font-size: 19pt; 
               background-color: #CCC8E0;
               text-align: left;
               width: 10%;
               color: #000000 }

    td.titles { background-color: #CCC8E0;
               text-align: left;
               width: 20%;
               color: #000000 }

    td.subformtitle { background-color: #CCC8E0;
                      text-align: left;
                      color: #000000 }

    td.centertitle { background-color: #EEECFA;
                     text-align: center;
                     color: #000000 }

    td.input { background-color: #EEECFA;
               width: 20% }

    td.text  { background-color: #EEECFA;
               color: #000000 }

/*--TR的样式--*/
    tr.listtitle { background-color: #4D457A;
                   text-align: center;
                   color: #ffffff }

    tr.listodd { background-color: #CCC8E0;
                 text-align: center;
                 color: #800080 }

    tr.listeven { background-color: #EEECFA;
                  text-align: center;
                  color: #800080 }


/*--INPUT的样式--*/
    input { font-size: 10pt }

    input.common   { background-color: #EEECFA;
                     border: 1px #9999CC solid;
                     height: 20px;
                     width: 160px;
                     }

    input.common3   { background-color: #EEECFA;
                     border: 1px #9999CC solid;
                     height: 20px;
                     width: 100%;
                     }
                     
    input.common5   { background-color: #EEECFA;
                     border: 1px #9999CC solid;
                     height: 20px;
                     width: 100%;
                     }                 

    input.readonly { width: 160px;
                     background-color: #EEECFA;
                     color: #000000;
                     BORDER-TOP-WIDTH: 1px;
                     BORDER-TOP-STYLE: solid;
                     BORDER-TOP-COLOR: #EEECFA;
                     BORDER-BOTTOM-WIDTH: 1px;
                     BORDER-BOTTOM-STYLE: solid;
                     BORDER-BOTTOM-COLOR: #EEECFA;
                     BORDER-RIGHT-STYLE: none;
                     BORDER-LEFT-STYLE: none }

    input.readonly3 { width: 440px;
                     background-color: #EEECFA;
                     color: #000000;
                     BORDER-TOP-WIDTH: 1px;
                     BORDER-TOP-STYLE: solid;
                     BORDER-TOP-COLOR: #EEECFA;
                     BORDER-BOTTOM-WIDTH: 1px;
                     BORDER-BOTTOM-STYLE: solid;
                     BORDER-BOTTOM-COLOR: #EEECFA;
                     BORDER-RIGHT-STYLE: none;
                     BORDER-LEFT-STYLE: none }

    input.listodd { width: 200px;
                    background-color: #CCC8E0;
                    color: #800080;
                    border-style: none;
                    hight:100px }

    input.listeven { width: 200px;
                     background-color: #EEECFA;
                     color: #800080;
                     border-style: none }

    input.code { background-color: #80C0F0; //#60C0F0;
                 border: 1px #9999CC solid;
                 height: 20px;
                 width: 160px}

    input.keyvalue { width:200px;
                     readonly;
                     background-color: #A7B5D6;
                     color: white;
                     border-style: none }

/*--TEXTAREA的样式--*/
    textarea.common { background-color: #EEECFA;
                     border: 1px #9999CC solid;}

/*--SELECT的样式--*/
    select { width: 160px;
             background-color: #EEECFA }

    select.query { width: 40px;
                   background-color: #EEECFA }

/*--A的样式--*/

    A.menu:link {text-decoration: none;color: #ffffff;}
    A.menu:visited {text-decoration: none;color: #ffffff;}
    A.menu:active {text-decoration: none;color: #ffffff;}
    A.menu:hover {text-decoration: none;color: yellow; }

    A:link {text-decoration: none;color: #800080;}
    A:visited {text-decoration: none;color: #800080;}
    A.active {text-decoration: none;color: #800080;}
    A:hover {text-decoration: none;color: red; }


/*--IMG的样式--*/
    IMG.button { cursor:hand }

    td.lefttitle { background-color: #6699CC;
               text-align:left;
               color: #FFFFFF }
    
    td.titleLink0  {text-align:center;
                
                 cursor: hand;
                 background-color:#00573f;
                  color: #ffffff}

    td.titleLink1 {text-align:center;
                
                 cursor: hand;
                 background-color:#006c32;
                  color: #ffffff}

    td.titleLink2{text-align:center;
                  cursor: hand;
                  background-color:#45863e;
                  color: #ffffff}
     td.titleLink3{text-align:center;
                 cursor: hand;
                 background-color:#59af50;
                  color: #ffffff}
     td.titleLink4 {text-align:center;
                
                 cursor: hand;
                 background-color:#6600cc;
                  color: #ffffff}     
                  
                  
    td.itemLink {text-align:center;
                 cursor: hand;
                 background-color:#00573f;
                 color: #FFFFFF}
                 
     td.itemLink2{text-align:left;
                 cursor: hand;
                 background-color:#00c462;
                 color: #FFFFFF}            
                 













/* ---------------------------------------------------- */
/* disabled styles                                      */
/* ---------------------------------------------------- */
.coolDisabled
{
	display: block;
	background-color: GrayText;
	filter:	chroma(color=#010101) dropshadow(color=buttonhighlight, offx=1, offy=1);
	width: 100%;
}
.coolDisabled .coolDisabled
{
	background-color: transparent;
	filter:	gray()
			chroma(color=#ffffff) chroma(color=#fefefe) chroma(color=#fdfdfd)
			chroma(color=#fcfcfc) chroma(color=#fbfbfb) chroma(color=#fafafa)
			chroma(color=#f9f9f9) chroma(color=#f8f8f8) chroma(color=#f7f7f7)
			chroma(color=#f6f6f6) chroma(color=#f5f5f5) chroma(color=#f4f4f4)
			chroma(color=#f3f3f3) 
			mask(color=#010101);
}


/* ---------------------------------------------------- */
/* genericButton                                        */
/* ---------------------------------------------------- */
.genericButton
{
	behavior: url(../common/behaviors/genericButton.htc);
	selectedBackgroundUrl: url(../common/images/tileback.gif);
	background-color: buttonface;
	padding: 1px;
	border: 1px solid buttonface;
	cursor: hand;
	font: icon;
	
}


/* ---------------------------------------------------- */
/* coolBar                                              */
/* ---------------------------------------------------- */
.coolBar
{
	behavior: url(../common/behaviors/coolBar.htc);
	font: menu;
	color: menutext;
	background-color: buttonface;
	border: none;
	padding: 0px;
	cursor: default;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	filter: flipH() flipH();
}
.coolBarHandle
{
	border-left: 1px solid buttonhighlight;
	border-right: 1px solid buttonshadow;
	border-top: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonshadow;
	padding: 0px;
	margin: 0px;
	cursor: move;
	overflow: hidden;
}
.posBar
{
	background-color: transparent;
	border: 1px dotted black;
	padding: 0px;
	cursor: move;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	visibility: hidden;
}


/* ---------------------------------------------------- */
/* coolButton                                           */
/* ---------------------------------------------------- */
.coolButton
{
	behavior: url(../common/behaviors/coolButton.htc);
	coolButtonSelectedBackgroundUrl: url(../common/images/tileback.gif);
	cursor: hand;
	font: icon;
	width: 1px;
	vertical-align: bottom; 
	padding-top: 1px;
	padding-bottom: 3px;
	padding-left: 2px;
	padding-right: 2px;
}
.coolButton	img
{
	vertical-align: middle; 
	margin-left: 1px;
	margin-right: 1px;
}
.coolButtonDividerH,	
.coolButtonDividerV		
{
	border-top: 1px solid buttonshadow;
	border-left: 1px solid buttonshadow;
	border-bottom: 1px solid buttonhighlight;
	border-right: 1px solid buttonhighlight;
}
.coolButtonDividerH		
{
	width: 2px;
	height: 17px;
	margin-left: 0px;
	margin-right: 2px;
}
.coolButtonDividerV		
{
	width: 17px;
	height: 1px;
	margin-top: 0px;
	margin-bottom: 2px;
}

/* ---------------------------------------------------- */
/* coolCombo                                            */
/* ---------------------------------------------------- */
.coolCombo
{
	behavior: url(../common/behaviors/coolCombo.htc);
	font: menu;
	width: 1px;
	overflow: hidden;
	border: solid 1px buttonface;
	padding: 0px;
	margin-top: 1px; 
	margin-right: 2px; 
	vertical-align: top; 
}
.coolComboEdit
{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 1px;
	height: 1px;
	padding-left: 2px;
	font: menu;
	border: solid 1px buttonface;
	z-index: 1;
}
.coolComboButton
{
	position: relative;
	padding: 0px;
	margin: 0px;
	cursor: hand;
	width: 1px;
	z-index: 2;
	font-family: webdings;
	font-size: 6pt;
	line-height: 6pt;
	text-align: center;
	background-color: buttonface;
	border: solid 1px window;
}
.coolComboDropdown
{
	position: absolute;
	height: 1px;
	width: 1px;
	font: menu;
	background-color: window;
	border: 1px outset buttonshadow;
	visibility: hidden;
}
.coolComboDropdown .coolComboItem
{
	margin: 1px;
	padding-right: 6px;
	cursor: hand;
}
.coolComboDropdown .coolComboItem IMG
{
	vertical-align: middle; 
	margin-left: 1px;
	margin-right: 6px;
}

/* ---------------------------------------------------- */
/* cooDatePicker       update for this  cal             */
/* ---------------------------------------------------- */
.coolDatePicker
{
	behavior: url(../../common/behaviors/coolDatePicker.htc);	
	buttonImageUrl: ../../common/images/calendar.gif;
	buttonBackgroundImageUrl: url(../../common/images/tileback.gif);
	prevImageUrl: ../../common/images/prev.gif;
	nextImageUrl: ../../common/images/next.gif;
    font-size: 10pt;
    font-family: Verdana, Arial, Helvetica;
	vertical-align: top; 
    margin: 0px;
    border: 1px solid buttonshadow;
	padding: 1px;
    height: 20px;
    width: 130px;
}
.coolDatePickerLeftHeader,
.coolDatePickerCenterHeader,
.coolDatePickerRightHeader,
.coolDatePickerDay,
.coolDatePickerDate
{
/*	background-color: buttonface;*/
	background-color: #eeecfa;	
	border-right: buttonshadow 1px solid;
	border-top: buttonhighlight 1px solid;
	border-left: buttonhighlight 1px solid;
	border-bottom: buttonshadow 1px solid;
	position: absolute;
	text-align: center;
	font: bolder 8pt Verdana;
	height: 18px;
	width: 19px;
}
.coolDatePickerLeftHeader
{
	left: 0px;
	cursor: hand;
}
.coolDatePickerCenterHeader
{
	padding-top: 1px;
	width: 95px;
	left: 19px;
	cursor: default;
}
.coolDatePickerRightHeader
{
	left: 114px;
	cursor: hand;
}
.coolDatePickerDay
{
	padding-top: 1px;
	top: 18px;
	cursor: default;
}
.coolDatePickerDate
{
	padding-top: 2px;
	font: 7.5pt Verdana;
	cursor: hand;
}


