<html>
<%@include file="../common/jsp/UsrCheck.jsp"%>
<%@page contentType="text/html;charset=GBK" %>
<head>
<title>Sinosoft</title> 
</head>

<body onload="onload()">
<div id="divInfo" style="display : ''">
	正在获取打印数据，请稍候...
</div>

<OBJECT CLASSID = "clsid:5220cb21-c88d-11cf-b347-00aa00a28331">
    <PARAM NAME="LPKPath" VALUE="f16.lpk">
</OBJECT>

<div id="divDisplay" style="display : none">
	<table class= "common" width="100%">
		<tr>
			<td width="100%" align="right">
				<input type="button" name="btnPrint"      class= "common" value=" 打 印 " onclick="fnPrint()">
				<!--
				<input type="button" name="btnDownLoad"   class= "common" value=" 下 载 " onclick="fnDownLoad()">
				-->
				<input type="button" name="btnSaveAs"     class= "common" value=" 存 为 " onclick="fnSaveAs()">
				<input type="button" name="btnPrintSetup" class= "common" value=" 设 置 " onclick="fnPrintSetup()">
				<input type="button" name="btnPreview"    class= "common" value=" 预 览 " onclick="fnPreview()">
				<input type="button" name="btnClose"      class= "common" value=" 关 闭 " onclick="window.close()">
			</td>
		</tr>
	</table>
	<OBJECT id="F1Book1" style="LEFT: 0px; WIDTH: 760px; TOP: 0px; HEIGHT: 800px" classid="clsid:B0475003-7740-11D1-BDC3-0020AF9F8E6E"
	  codebase="f16.cab" >
	  <PARAM NAME="_ExtentX" VALUE="14367">
	  <PARAM NAME="_ExtentY" VALUE="6271">
	  <PARAM NAME="_0" VALUE="-A@A@*?*?@@@@J@_B@@+m@@@D@@P@@;F@@I@FE@F@@@+nDAF@@+oT@@@*?@@*?*?@@.????????3?.}R@@@@@@@@x@@@@@A@)XBNA@qU+H@@@*??*PA@@@@*F@E@)A2)i!)lqU+H@@@*??*|B@@@@*F@E@)A2)i!)lqU+H@B@*??*PA@@@@*F@E@)A2)i!)lqU+H@B@*??*|B@@@@*F@E@)A2)i!)lqU+H@@@*??*PA@@@@*F@E@)A2)i!)l^kE@S@Ab@*%*?b@c@l@c@c@p@{@b@*%*?b@(1C@m@c@l@c@c@p@^uF@X@Ab@*%*?b@c@l@c@c@p@{@)[@)R@%@$@)]@b@*%*?b@(1C@m@c@l@c@c@p@^wG@Y@Ab@*%*?b@c@l@c@c@p@n@p@p@{@b@*%*?b@(1C@m@c@l@c@c@p@n@p@p@^)AH@^@Ab@*%*?b@c@l@c@c@p@n@p@p@{@)[@)R@%@$@)]@b@*%*?b@(1C@m@c@l@c@c@p@n@p@p@^)Qj@f@Ab@*%*?b@j@`@)_@m@c@l@c@c@p@{@b@*%*?b@j@`@(1C@m@c@l@c@c@p@{@b@*%*?b@j@`@)_@m@b@m@b@{@)@@^^i@Y@@j`clccp{j`(1Cmclccp{j`bmb{)@^!l@n@Ab@*%*?b@j@`@)_@m@c@l@c@c@p@n@p@p@{@b@*%*?b@j@`@(1C@m@c@l@c@c@p@n@p@p@{@b@*%*?b@j@`@)_@m@b@m@b@)?@)?@{@)@@^fk@a@@j`clccpnpp{j`(1Cmclccpnpp{j`bmb)?)?{)@^ZW@U@@(1Cdclccp)_i{(1Ch(1Cdclccp(1Ci^_X@Z@@(1Cdclccp)_i{)[)R%$)](1Ch(1Cdclccp(1Ci^`Y@[@@(1Cdclccpnpp)_i{(1Ch(1Cdclccpnpp(1Ci^eZ@`@@(1Cdclccpnpp)_i{)[)R%$)](1Ch(1Cdclccpnpp(1Ci+mE@@@@@+lC@@@+`X@@@@*5*?`@@@@@@@@@@@+@`@@@@+`XA@@@*5*?,699D">
	  <PARAM NAME="_1" VALUE="-`@@*4@@@@@@@@+@`@@@@+`XA@@@*5*?`@@*4@@@@@@@@+@`@@@@+`XB@@@*5*?`@@*4@@@@@@@@+@`@@@@+`XB@@@*5*?`@@*4@@@@@@@@+@`@@@@+`X@@@@*5*?`@@*4@@@@@@@@+@`@@@@+`X@@@@*5*?`@@*4@@@@@@@@+@`@@@@+`X@@@@*5*?`@@*4@@@@@@@@+@`@@@@+`X@@@@*5*?`@@*4@@@@@@@@+@`@@@@+`X@@@@*5*?`@@*4@@@@@@@@+@`@@@@+`X@@@@*5*?`@@*4@@@@@@@@+@`@@@@+`X@@@@*5*?`@@*4@@@@@@@@+@`@@@@+`X@@@@*5*?`@@*4@@@@@@@@+@`@@@@+`X@@@@*5*?`@@*4@@@@@@@@+@`@@@@+`X@@@@*5*?`@@*4@@@@@@@@+@`@@@@+`X@@@@A@`@@@@@@@@@@@+@`@@@@+`XA@k@*5*?`@@*8@@@@@@@@+@`@@@@+`XA@i@*5*?`@@*8@@@@@@@@+@`@@@@+`XA@l@*5*?`@@*8@@@@@@@@+@`@@@@+`XA@j@*5*?`@@*8@@@@@@@@+@`@@@@+`XA@I@*5*?`@@*8@@@@@@@@+@`@@@@+`XD@@@*0*?R@@)H@@@@@@@@+@`@@@@*EJ@@F@)S)h%%4q*LA@)V@JI@FP@F@@@MA@L$@QA@P.<i1-R.MbP?_-A@j@@kA@e@@*?@*A+ADTEB@@f)AUJG@@)P!'%`f)P*C@@*D@@f@@@@@@+h)?g@@@@@@+h)?h@@@@@@*0)?i@@@@@@*0)?*abA@$@A@A@A@F@@@@@@@@@@@+`)?@@@@@@+`)?A@@@@@@@@@@@@@@@@*7X*R@.?)L???*@-TPH-*@?*@??.@@@@@@@@*2P@@@@@@@@@@@@C@.??6.U@U@U@*?@)@F=@@*?@fIO@B@)F@~R*vF@@@@@@@@@@@@@@@@]OC@@@@@@A@@@@@@@*`$@$@*YfIJ@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,830A">
	  <PARAM NAME="_2" VALUE="-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,0000">
	  <PARAM NAME="_3" VALUE="-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,0000">
	  <PARAM NAME="_4" VALUE="-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@B@@@C@@@I@)l4@@@@@@F@,B22C">
	  <PARAM NAME="_count" VALUE="5">
	  <PARAM NAME="_ver" VALUE="2">
	</OBJECT>
</div>

<form name=fmDownLoad action="">
</form>

<script>
    function onload()
	{	  
	    //初始化
	    f1confirm();//验证函数
	    var intPageWidth=screen.availWidth;
		var intPageHeight=screen.availHeight;
		//var curTime;
		//curTime = new Date();

		window.resizeTo(intPageWidth,intPageHeight);
		window.screentop=-1;
		window.screenleft=-1;
		window.focus();
		
		document.all.F1Book1.PrintGridLines = false;
		document.all.F1Book1.PrintHCenter= false;
        document.all.F1Book1.ShowEditBar =false;
	    
	    

		
		//以下为MULILINE填充过程
		var tObjInstance=window.opener.VarGrid;//MULILINE对象
	    
	    //Header
	    var arrHeader=window.opener.getMultiLineHead();//行头数组
	    for (var k=0; k<arrHeader.length; k++) {
            document.all.F1Book1.TextRC(1,k+1)=arrHeader[k]; 
        }
        
        //Order 
        var arrOrder=window.opener.getMultiLineOrderNo();//序号数组
	    for (var m=0; m<arrOrder.length; m++) {
            document.all.F1Book1.TextRC(m+2,1)=arrOrder[m]; 
        }
        
	    
	    //Col and Row
        var rowCount = tObjInstance.mulLineCount;//行数
        var colCount = tObjInstance.colCount;	//列数
        var i,j;
        for( i = 0; i <= rowCount-1; i++ ){
	      for(j = 1; j <= colCount-1; j++){	         
	        document.all.F1Book1.TextRC(i+2,j+1)=tObjInstance.getRowColData(i,j);    
          }
        }
        divDisplay.style.display = "";
        divInfo.style.display = "none";  
	
	}
	
	
	function f1confirm()    //验证函数  
	{
	    //若没有安装formula one,将执行
		if(undefined==document.all.F1Book1.ShowEditBar)
	    {
	        window.location = "F1setup.jsp";
	    }
	}
	
	function fnPrint()     //打印函数
	{
	    var bShowPrintDlg=true;
	    var bPrintWorkbook=true;
	    F1Book1.FilePrintEx(bShowPrintDlg, bPrintWorkbook);
    }
	
	function fnPrintSetup()//打印设置函数
	{
		F1Book1.FilePageSetupDlgEx(2147483647);
	}
	
	function fnPreview()//预览函数
	{
		F1Book1.FilePrintPreview();
	}
	
	function fnSaveAs()//保存函数
	{
	  var fInfo = new ActiveXObject("TTF16.F1FileSpec.6");
      F1Book1.SaveFileDlgEx("", fInfo);
      F1Book1.WriteEx(fInfo.Name, fInfo.Type);
      //btnSaveAs.disabled = true;
	}
	
	
	//function fnOnBlur()
	//{
	//	if( window.event.srcElement == null ) {
	//		window.status = "null";
	//	} else {
	//		alert("not null");
	//	}
		// window.focus();
	//}
	
	//function fnDownLoad()
	//{
	//  fmDownLoad.submit();
	//  btnDownLoad.disabled = true;
	//}	
</script>
</body>
</html>
