﻿*{font-size:12px; font-family:Tahoma,Verdana,微软雅黑,新宋体}
body
{
    margin: 0px;
	padding: 0px;
	border: 1px solid #EFEFEF; 
	background:	url('../Images/bg.gif');
}

#loading
{
	position: fixed;
	_position: absolute;
	top: 50%;
	left: 50%;
	width: 124px;
	height: 124px;
	overflow: hidden;
	background: url(loaderc.gif) no-repeat;
	z-index: 7;
	margin: -62px 0 0 -62px;
}

/**********************************************************************88*/
a{ color:Black; text-decoration:none;}
a:hover{ color:Red; text-decoration:underline;}
.textbox03 {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;  font-weight: bold; width: 190px; }

.txt01{font:Verdana, Geneva, sans-serif,宋体;padding:3px 2px 2px 2px; border-width:1px; border-color:#ddd;  color:#000;}
.txt {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;}
.footer{text-align:center;color:#15428B; margin:0px; padding:0px;line-height:23px; font-weight:bold;}

.head a{color:White;text-decoration:underline;}

.navlist{list-style-type:none;margin:0px; padding:10px;}
.navlist li{ padding:0px;}
.navlist li a{line-height:24px;}
.navlist li div{margin:2px 0px;padding-left:10px;padding-top:2px; border:1px dashed #ffffff;}
.navlist li div.hover{border:1px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
.navlist li div.hover a{color:#416AA3;}
.navlist li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.navlist li div.selected a{color:#416AA3; font-weight:bold;}

.third_ul{ list-style-type:none;margin:0px; padding:0px; display:none;}
.third_ul li{ padding-left:20px;}

.icon{ background:url(../images/tabicons.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-sys{ background-position:0px -200px;}
.icon-set{ background-position:-380px -200px;}
.icon-add{background-position: -20px 0px;}

.icon-nav{background-position: -100px -20px; }
.icon-users{background-position: -100px -480px;}
.icon-role{background-position: -360px -200px;}
.icon-set{background-position: -380px -200px;}
.icon-log{background-position: -380px -80px;}

.icon-delete{ background-position:-140px -120px;}
.icon-edit{ background-position:-380px -320px;}
.icon-magic{ background-position:0px -500px;}
.icon-database{ background-position:-20px -140px;}


.icon-arrow{ background:url('../images/arrow.gif') no-repeat right;}

.ed_font {font-size: 13px;line-height: 18px;color: #191970;font-weight:700; }
.ed_box {
	border-left: 1px solid #95B8E7;
	border-right: 1px solid #95B8E7;
	border-top: 1px solid #95B8E7;
	border-bottom: 1px solid #95B8E7;
	background-color: #FFFFFF; 
	}
.ed_label {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: transparent; 
	}
.ed_s_label {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: transparent; 
	font-size: 13px;line-height: 18px;color: #191970;font-weight:700;
	width: 100px;
	}
.common {
	background-color: #F3F3FA;
}
.commonLabel {
    border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: transparent;
	font-size: 12px;
	font-style:normal;
	font-family:微软雅黑,Verdana,Tahoma,新宋体;
	line-height: 20px;
	color: #272727;
	font-weight: 700;
	width: 60px;
}
.commonInput {
	border-left: 1px solid #95B8E7;
	border-right: 1px solid #95B8E7;
	border-top: 1px solid #95B8E7;
	border-bottom: 1px solid #95B8E7;
	background-color: #FFFFFF;
}
	
